# Lite Voice Terminal Server configuration file
# Copyringt (c) Alexander Eltsyn

[LVTServer]
# Address of network interface to bind server to. Leave empty to use default address
# Адрес сервера. Если параметр не задан то используется адрес по умолчанию
#ServerAddress = 0.0.0.0

# Server port number
# Номер порта. По умолчанию 2700
ServerPort = 2700

# Certificate and key files to secure connection with SSL. Comment out to use unencrypted connection
# Имена файлов сертификата и ключа. По умолчанию секретность выключена
#SSLCertFile = "../LVTCert.pem"
#SSLKeyFile = "../LVTCert.key"

# Voice model location, dictionaried mode. 
# Note: not all models available support dictionary filtering
# Каталог языковой модели для распознавания c использования словаря
# Не все модели поддерживают этот режим
Model = "/usr/src/kaldi/model-small-ru"

# Unrestricted mode voice model location. Same as Model if skipped
# Каталог языковой модели для распознавания без использования словаря
# По умолчанию будет использовано параметр Model
FullModel = "/usr/src/kaldi/model-ru"
#FullModel = "/usr/src/kaldi/model-small-ru"

# Speaker identification model location
# Каталог голосовой модели для идентификации говорящего
SpkModel = "/usr/src/kaldi/speaker-model"

# Recognition input stream sample rate
# Частота дискретизации входного аудиопотока для распознавания
SampleRate = 8000

# Maximum number of recognition threads. 
# It not recommended to set more than number of CPU cores (default value)
# Number of recognition threads not limits number of active clients.
# Максимальное количество одновременно работающих потоков распознования голоса.
# Не рекомендуется задавать количество потоков больше количества ядер процессора (значение по умолчанию)
# Количество потоков распознавания не ограничивает количество одновременно подключенных клиентов
# RecognitionThreads = 4

# Assistant name. You could specify several names delimited by comma
# Имя асистента. Допустимо указание нескольких имен, разделенных запятой
#
AssistantName = "Мажордом, Алиса"

# Основной язык. Используется по мере необходимости (например, при морфологическом анализе)
# Технически допустимые значения en, ru и uk (украинский) - но разработка и тестирование 
# ведется только для русского языка
Language = ru

# Список ключевых фраз, выражающих согласие.
ConfirmationPhrases = "да, окей, согласен, хорошо, ладно, давай, продолжай, продолжить, поехали"

# Список ключевых фраз, выражающих отказ
CancellationPhrases = "нет, стой, не хочу, отмена, отстань, заткнись, забей, умолкни"

SearchEngine = "Google" # Google or Yandex (see .skills) file

# Text To Speech engine. RHVoice is the only TTS currently supported. TTS is disabled by default
# Сервис преобразования текста в голос. На текущий момент поддерживается только RHVoice
# Если TTS сервер в системе не установлен - параметр можно закомментировать. 
# При этом терминалы должны уметь отображать сообщения на экране
TTSEngine = RHVoice

[RHVoice]
# RHVoice Engine configuration. You could leave everything but Voice parameter undefined
# Обычно достаточно определить только используемый голос
Voice="Anna+CLB"

# Path to folder, containing voices and languages folders
#data_path = "/usr/local/share/RHVoice"
# Path to folder with RHVoice.conf (linux) or RHVoice.ini (windows).
#config_path = "/usr/local/share/RHVoice"

# See RHVoice documentation for details.
#voice_profile = ""
#absolute_rate = "1.0"
#absolute_pitch = "1.0"
#absolute_volume = "1.0"
#relative_rate = "1.0"
#relative_pitch = "1.0"
#relative_volume = "1.0"
#punctuation_mode = 2
#punctuation_list = ":;,.!?-+"
#capitals_mode = 2
#flags = 1
#.....

