# Lite Voice Terminal configuration file
# Copyringt (c) Alexander Eltsyn

# В качестве системного имени (Id) терминала использеутся имя файла конфигурации терминала

# Пароль должен быть задан обязательно
Password = 'Password'

# Название терминала
Name = 'Респикер'

# Расположение тераминала. Используется, если в команде не имеется явного указание на location.
# Если этот параметр оставить незаданным, то ассистент не сможет правильно обрабатывать такие команды.
Location = 'Зал'

# Включить автоматическое обновление клиента (1|0). По умолчанию включено
# AutoUpdate = 1

# 0 : отключить журнал
# 1 : только сообщения об ошибках
# 2 : Информационные сообщения
# 3 : Отладочные сообщения
LogLevel = 9

